<h1> List of All Food</h1>

<% @children.each do |child| %>
  <h2><%= child.name %></h2>
  <p>Created at: <%= child.created_at%></p>
  <p>Updated at: <%= child.updated_at%></p><br>
  <p>Refrigerator ID: <%= child.refrigerator_id%></p>
  <p>Expired? <%= child.expired%></p>
  <p>Total Items Available: <%= child.total_items_available%></p><br>
<% end %>
