<a href="/refrigerators">Full Refrigerator Index</a><br>
<a href="/foods">Full Food Index</a><br>
<%= link_to 'Foods In This Refrigerator', foods_in_this_refrigerator_path %>

<h1><%= @refrigerator.name %></h1>
<p>Created on: <%= @refrigerator.created_at %></p>
<p>Last Updated: <%= @refrigerator.updated_at %></p>

<h2>ID: </h2>
<p><%= @refrigerator.id %></p>
<h2>Has Freezer?</h2>
<p><%= @refrigerator.has_freezer %></p>
<h2>Capacity: </h2>
<p><%= @refrigerator.capacity_cubic_feet %> cubic feet</p>
<h2>Number of food items: </h2><%=@food_count%>

