<a href="/garages">Full Garage Index</a><br>
<a href="/motorcycles">Full Motorcycle Index</a><br>


<h1><%= @garage.name %></h1>
<p>Created on: <%= @garage.created_at %></p>
<p>Last Updated: <%= @garage.updated_at %></p>

<h2>ID: </h2>
<p><%= @garage.id %></p>
<h2>At Capacity?</h2>
<p><%= @garage.at_capacity %></p>
<h2>Max Motorcycle Capacity: </h2>
<p><%= @garage.max_capacity %> motorcycles</p>
<h2>Number of Motorcycle Items: </h2>
<%=@garage.motorcycles.count%><br><br>
