<a href="/refrigerators">Full Refrigerator Index</a><br>
<a href="/foods">Full Foods Index</a><br>

<h1><%= @food.name %></h1>
<p>Created on: <%= @food.created_at %></p>
<p>Last Updated: <%= @food.updated_at %></p>

<h2>Refrigerator ID:</h2>
<p><%= @food.refrigerator_id %>
<h2>ID: </h2>
<p><%= @food.id %></p>
<h2>Expired?</h2>
<p><%= @food.expired %></p>
<h2>Total Items Available: </h2>
<p><%= @food.total_items_available %></p>
