<a href="/garages">Full Garage Index</a>
<a href="/motorcycles">Full Motorcycle Index</a>
<h1><%= @motorcycle.name %></h1>
<p>Created on: <%= @motorcycle.created_at %></p>
<p>Last Updated: <%= @motorcycle.updated_at %></p>

<h2>Garage ID:</h2>
<p><%= @motorcycle.garage_id %>
<h2>ID: </h2>
<p><%= @motorcycle.id %></p>
<h2>Ride Ready?</h2>
<p><%= @motorcycle.ride_ready %></p>
<h2>Model Year: </h2>
<p><%= @motorcycle.model_year %></p>
